
nav.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand.text-light(href='/index') FOUND IT
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link.text-light(href='/about-us') ABOUT US
    ul.navbar-nav.float-right
      li.nav-item
        a.nav-link.btn.btn-info.text-light(href='/login') P.O.A Login
      
          