extends layout

block content
    
    div.container.search_form
        div.title
            h1(style="font-size:120%;") ENTER DETAILS ABOUT THE ITEM
        
        form.form
            div.row
                div.col-md-5
                    div.form-group
    
        