extends layout
block content
    style.
        body{
            padding:0%;
            margin:0%;
        }

    div.bg
        div.container
            div.row
                div.col-lg-12
                    h2.title An Easier Way To Recover Your Lost Documents
            div.row.homepage-buttons
                div.col-md-6
                    a#lost.btn.btn-info.homepage-buttons(href="#")                        
                        | Search &nbsp;
                        i.fa.fa-search 
                        | <br/> For something you may have lost 
                div.col-md-6
                    a#found.btn.btn-success.homepage-buttons(href="/found_form") Have you Found Something?
